<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <a href="/new" class="btn btn-warning">Agregar nueva tienda</a>
<!--    <a href="/prueba" class="btn btn-warning">Buscar por categoria </a>-->
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>CAPACITY</th>
            <th>STOCK</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shop:${shopStore}">

            <td th:text="${shop.idStore}"></td>
            <td th:text="${shop.name}"></td>
            <td th:text="${shop.capacity}"></td>
            <td th:text="${shop.getPictureList().size()}"></td>
            <td>
                <a th:href="@{|/viewShopStore/ ${shop.idStore}}" class="btn btn-warning">Ver tienda</a>
                <a th:href="@{|/editar/ ${shop.idStore}}" class="btn btn-warning">Editar</a>
                <a th:href="@{|/delete/ ${shop.idStore}}" class="btn btn-danger" onclick="return confirm('Estás seguro que deseas eliminar el registro?');">Eliminar registro</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
