<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4" th:width="1600px">
    <a th:href="@{|/newPicture/ ${idShopStore}}" class="btn btn-warning">Agregar nuevo cuadro</a>
    <a th:href="@{/list}" class="btn btn-warning" >Ver tiendas</a>
    <table class="table" >
<!--    <table class="table">-->
        <thead class="caption">
        <tr>
            <th>ID</th>
            <th >NAME</th>
            <th >AUTOR</th>
            <th >PRECIO</th>
            <th >FECHA</th>
            <th >ID STORE</th>
        </tr>
        </thead>
        <tbody >
        <tr th:each="picture:${viewStore}" >
            <td th:text="${viewStore.indexOf(picture)}"></td>
            <td th:text="${picture.name}"></td>
            <td th:text="${picture.author}"></td>
            <td th:text="${picture.price}"></td>
            <td th:text="${picture.date}"></td>
            <td th:text="${idShopStore}"></td>

            <td th:width="300px">
                <a th:href="@{|/editarPicture/ ${picture.idPicture}}" class="btn btn-warning">Editar</a>
                <a th:href="@{|/deletePicture/ ${picture.idPicture}/ ${idShopStore}}" class="btn btn-danger" onclick="return confirm('Estás seguro que deseas eliminar el registro?');">Eliminar registro</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
